<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Mis noticias </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <!--Muetra un segmento con un segment-button para cada una de las categorias existentes-->
 <ion-segment class="horizontal-segment" [scrollable]="true" >
    <ion-segment-button *ngFor="let category of getCategorias()" (click)="manageArticles.getArciclesFromRest(category)" >
      {{category}}
    </ion-segment-button >
</ion-segment>
  <ion-list *ngFor="let article of manageArticles.getArticles()">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>{{article.source.name}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-checkbox (ionChange)="onClick($event,article)"></ion-checkbox>
        {{article.title}}
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
